@model IEnumerable<BCX_Assessment_01.EF.CasualRoles>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CasualRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRateInZar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CasualRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRateInZar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CasualRoleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CasualRoleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CasualRoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
