@model BCX_Assessment_01.EF.CasualEmployees

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CasualEmployees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHourlyRateInZar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentHourlyRateInZar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasualRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasualRole.CasualRole)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CasualEmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
