@using System.Net.Mime
@model IEnumerable<BCX_Assessment_01.EF.CasualEmployees>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentHourlyRateInZar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasualRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>

                    @{
                        if (item.ProfilePicture != null)
                        {
                            var base64 = Convert.ToBase64String(item.ProfilePicture);
                            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

                            <img src="@imgSrc" ;
                                 class="rounded-circle"
                                 height="40" width="40"
                                 asp-append-version="true" />
                        }
                        else
                        {
                            <label>No Profile Picture</label>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentHourlyRateInZar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CasualRole.CasualRole)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CasualEmployeeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CasualEmployeeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CasualEmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
